button {
    margin: 10px;
}

#confirmBtn {
    margin: 10px 5px 0 0;
}

.filter {
    display: flex;
    width: 98%;
    margin-left: 10px;
    margin-bottom: 5px;
    justify-content: space-between;
}


.commodity-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0 10px;
}