.filter {
    display: flex;
    margin-left: 10px;
    width: 99%;
    border: 1px solid brown;
}

p-dropdown {
    width: 35%;
    margin: 10px;
}

button {
    width: 150px;
    height: 40px;
    margin-top: 9px;
}