.p-input-icon-left > input {
    padding-left: 2.5rem;
    width: 500px;
}

.search-box {
    padding: 0.75rem 2.5rem;
    border: 1px solid #ced4da;
    border-radius: 6px;
}

cats-location-filter {
    margin-bottom: 10px;
}
