$header-footer-bg-color: #2F4050;
$header-footer-bg-color2: #6b7279;
$header-footer-color: #ffffff;
$menubar-background: #2F4050;
$menuitem-color: #A7B1C2;
$active-menuitem-bg-color: #293846;
$success: #1ab394;
