<div id="container">
    <p-dropdown [options]="dispatchPlans$|async"
                [(ngModel)]="selectedDispatchPlan"
                optionLabel="reference_no"
                placeholder='Select Dispatch Plan'
                (onChange)="onDispatchPlanChange($event)"
                [filter]="true"
                filterBy="reference_no">
    </p-dropdown>
    <p-dropdown [options]="dispatchPlanItems$ | async"
      (onChange)="onDispatchPlanItemChange($event)"
      [(ngModel)]="selectedDispatchPlanItem"
      placeholder="Select Issue Authorization Number"
      [filter]="true"
      filterBy="reference_no">
        <ng-template pTemplate="selectedItem">
            <div *ngIf="selectedDispatchPlanItem">
                <div>{{selectedDispatchPlanItem.reference_no}}
                     ({{selectedDispatchPlanItem.source_name}} - {{selectedDispatchPlanItem.destination_name}})</div>
            </div>
        </ng-template>
        <ng-template let-planItem pTemplate="item">
            <div>
                <div>{{planItem.reference_no}} ( {{planItem.source_name}} - {{planItem.destination_name}})</div>
            </div>
        </ng-template>
    </p-dropdown>
    <p-dropdown [options]="dispatches$ | async"
      (onChange)="onDispatchChange($event)"
      [(ngModel)]="selectedDispatch"
      placeholder="Select Dispatch"
      [filter]="true"
      filterBy="reference_no">
        <ng-template pTemplate="selectedItem">
            <div *ngIf="selectedDispatch">
                <div>{{selectedDispatch.reference_no}} - {{selectedDispatch.plate_no}}</div>
            </div>
        </ng-template>
        <ng-template let-disptach pTemplate="item">
            <div>
                <div>{{disptach.reference_no}} - {{disptach.plate_no}}</div>
            </div>
        </ng-template>
    </p-dropdown>
</div>

<div *ngIf="selectedDispatch">
    <mat-card>
        <div class="card">
            <div>
                Transporter Name: <span class="highlight"><b>{{selectedDispatch.transporter_name}}</b></span><br/>
                Driver Name: <span class="highlight"><b>{{selectedDispatch.driver_name}}</b></span>
            </div>
            <div>
                Driver Phone: <span class="highlight"><b>{{selectedDispatch.driver_phone}}</b></span><br/>
                Quantity: <span class="highlight"><b>{{selectedDispatch.quantity}}</b></span><br/>
            </div>
        </div>
    </mat-card>
</div>

<cats-toolbar
 [actions]=actions
 (actionClick)="onActionClick($event)"
>
</cats-toolbar>

<cats-list [columns]="columns"
          [caption]="'Dispatching Stores'"
          [actions]="tableActions"
          [hasAction]="true"
          [data]="dispatchAuthorizations$|async"
          (actionClick)="onSideButtonClick($event)">
</cats-list>
