<div id="login-form">
    <fieldset>
        <legend>Change your password</legend>
        <form [formGroup]="form" (submit)="onSubmit()">
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Old Password" formControlName="old_password" (blur)="blur()">
                <mat-error *ngIf="displayMessage.old_password">{{displayMessage.old_password}}</mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Password" formControlName="password" (blur)="blur()">
                <mat-error *ngIf="displayMessage.password">{{displayMessage.password}}</mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Confirm Password" formControlName="password_confirmation" (blur)="blur()">
                <mat-error *ngIf="displayMessage.password_confirmation">{{displayMessage.password_confirmation}}</mat-error>
            </mat-form-field>
        </form>
        <button mat-raised-button
                color="success"
                type="submit"
                [disabled]="!form.valid"
                (click)="onSubmit()">
            <mat-icon>save</mat-icon>
                    Save
        </button>
            &nbsp;
        <button mat-raised-button
                type="button"
                color="warn"
                (click)="onCancel()">
            <mat-icon>remove_circle</mat-icon>
                Cancel
        </button>
    </fieldset>
</div>
