<h2 mat-dialog-title>GRN</h2>
<div mat-dialog-content>
    <form [formGroup]="form" (submit)="onSubmit()">
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Receipt No" formControlName="receipt_no" (blur)="blur()">
            <mat-error *ngIf="displayMessage.receipt_no">{{ displayMessage.receipt_no }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Purchase Requisition No" formControlName="purchase_requisition_no" (blur)="blur()">
            <mat-error *ngIf="displayMessage.purchase_requisition_no">{{ displayMessage.purchase_requisition_no }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Requested By" formControlName="requested_by" (blur)="blur()">
            <mat-error *ngIf="displayMessage.requested_by">{{ displayMessage.requested_by }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Invoice No" formControlName="invoice_no" (blur)="blur()">
            <mat-error *ngIf="displayMessage.invoice_no">{{ displayMessage.invoice_no }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Weight Bridge Ticket No" formControlName="wt_bridge_ticket_no" (blur)="blur()">
            <mat-error *ngIf="displayMessage.wt_bridge_ticket_no">{{ displayMessage.wt_bridge_ticket_no }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Container Type" formControlName="container_type" (blur)="blur()">
            <mat-error *ngIf="displayMessage.container_type">{{ displayMessage.container_type }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Number of containers" formControlName="no_of_containers" (blur)="blur()">
            <mat-error *ngIf="displayMessage.no_of_containers">{{ displayMessage.no_of_containers }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Gross" formControlName="gross" (blur)="blur()">
            <mat-error *ngIf="displayMessage.gross">{{ displayMessage.gross }}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Net" formControlName="net" (blur)="blur()">
            <mat-error *ngIf="displayMessage.net">{{ displayMessage.net }}</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button
            color="success"
            type="submit"
            [disabled]="!form.valid"
            (click)="onSubmit()">
        <mat-icon>save</mat-icon>
        Save
    </button>
    &nbsp;
    <button mat-raised-button
            type="button"
            color="warn"
            (click)="onCancel()">
        <mat-icon>remove_circle</mat-icon>
        Cancel
    </button>
</div>
